body {
  background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ground {
  width: 100vw;
  height: 400px;
  margin-top: -58px;
  background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
  position: absolute;
  z-index: 3;
}

.penguin {
  position: relative;
  z-index: 4;
  margin: auto;
  margin-top: 75px !important;
  width: 300px;
  height: 300px;
}

.penguin-head {
  width: 50%;
  border-radius: 70% 70% 65% 65%;
  height: 45%;
  background: linear-gradient(45deg, gray, rgb(239, 240, 228));
}

.penguin-body {
  width: 53%;
  height: 45%;
  border-radius: 80% 80% 100% 100%;
  background: linear-gradient(
    45deg,
    rgb(134, 133, 133) 0%,
    rgb(234, 231, 231) 25%,
    white 67%
  );
}

.left-mountain {
  position: absolute;
  z-index: 2;
  transform: skew(0deg, 45deg);
  margin-top: 100px;
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
}

.back-mountain {
  position: absolute;
  transform: rotate(45deg);
  left: 110px;
  top: 225px;
  z-index: 1;
  width: 300px;
  height: 300px;
  background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: yellow;
  border-radius: 50%;
  top: -75px;
  right: -75px;
}
